/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

.box {
  width: 300px;
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 1000;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
  
}

#conferences {
  margin-top: 10px;
  background-color: #013369;
  border-radius: 10px;
  text-align: center;
  height: 100px;
}
#divisions {
  margin-top: 10px;
  background-color: #D50A0A;
  border-radius: 10px;
  text-align: center;
  height: 80px;
  margin-bottom: 10px;
}
/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.inputs {
  padding-bottom: 1em;
}